@font-face {
	font-family: 'Bebas';
	src: url("BebasLight.eot");
	src: local('Bebas Light'), local('BebasLight'),
		url("BebasLight.eot") format('embedded-opentype'),
		url("BebasLight.woff") format('woff'),
		url("BebasLight.ttf") format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	src: url("BebasRegular.eot");
	src: local('Bebas Regular'), local('BebasRegular'),
		url("BebasRegular.eot") format('embedded-opentype'),
		url("BebasRegular.woff") format('woff'),
		url("BebasRegular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Bebas';
	src: url("BebasBold.eot");
	src: local('Bebas Bold'), local('BebasBold'),
		url("BebasBold.eot") format('embedded-opentype'),
		url("BebasBold.woff") format('woff'),
		url("BebasBold.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}




